/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/main-page/index.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.main-page_hero__IqVWl {
  position: relative;
  overflow: hidden;
  z-index: 1;
  height: 800px;
  padding-top: 104px;
  padding-bottom: 200px;
  background: radial-gradient(112.11% 111.8% at 100% 0%, #4075FF 0%, rgba(64, 117, 255, 0) 100%), radial-gradient(111.72% 111.46% at 27% 0%, #16D9A6 0%, rgba(22, 217, 166, 0) 100%), #9466FF;
}
@media (max-width: 1460px) {
  .main-page_hero__IqVWl {
    height: 680px;
  }
}
@media (max-width: 1170px) {
  .main-page_hero__IqVWl {
    height: 600px;
  }
}
@media (max-width: 940px) {
  .main-page_hero__IqVWl {
    height: 500px;
  }
}
@media (max-width: 760px) {
  .main-page_hero__IqVWl {
    height: 800px;
    padding-top: 40px;
  }
}
@media (max-width: 380px) {
  .main-page_hero__IqVWl {
    height: 690px;
  }
}
.main-page_hero__container__ZNrMm {
  position: relative;
}
.main-page_hero__slider__qryjx {
  overflow: hidden;
  position: absolute !important;
  height: max-content;
  top: 0;
  right: 0;
  left: 245px;
}
@media (max-width: 1460px) {
  .main-page_hero__slider__qryjx {
    left: 0;
  }
}
@media (max-width: 1215px) {
  .main-page_hero__slider__qryjx {
    left: 150;
  }
}
@media (max-width: 990px) {
  .main-page_hero__slider__qryjx {
    top: 35px;
    left: 100px;
  }
}
@media (max-width: 940px) {
  .main-page_hero__slider__qryjx {
    top: -20px;
    left: 50px;
  }
}
@media (max-width: 760px) {
  .main-page_hero__slider__qryjx {
    padding-top: 160px !important;
    top: 170px;
    left: -130px;
    overflow-y: auto !important;
  }
}
@media (max-width: 380px) {
  .main-page_hero__slider__qryjx {
    top: 95px;
  }
}
.main-page_hero__slider__slide__elnDM {
  position: relative;
  width: 190px !important;
}
@media (max-width: 1460px) {
  .main-page_hero__slider__slide__elnDM {
    width: 150px !important;
  }
}
@media (max-width: 990px) {
  .main-page_hero__slider__slide__elnDM {
    width: 110px !important;
  }
}
.main-page_hero__slider__slide__img___VOsp {
  width: 475px;
  height: 580px;
}
@media (max-width: 1460px) {
  .main-page_hero__slider__slide__img___VOsp {
    width: 375px;
    height: 480px;
  }
}
@media (max-width: 990px) {
  .main-page_hero__slider__slide__img___VOsp {
    width: 275px;
    height: 380px;
  }
}
.main-page_hero__slider__slide__popup__dG43w {
  cursor: auto;
  display: flex;
  align-items: stretch;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: calc(54% + 8px);
  left: -70px;
  right: 27px;
  padding: 12px;
  border-radius: 12px;
  background-color: #3D4555;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
@media (max-width: 1460px) {
  .main-page_hero__slider__slide__popup__dG43w {
    top: calc(54% + 15px);
    left: -88px;
    right: 8px;
  }
}
@media (max-width: 990px) {
  .main-page_hero__slider__slide__popup__dG43w {
    top: calc(54% + 25px);
    left: -115px;
    right: -3px;
  }
}
@media (max-width: 760px) {
  .main-page_hero__slider__slide__popup__dG43w {
    top: -95px;
    left: 0px;
    right: -120px;
  }
}
.main-page_hero__slider__slide__popup__arrow__wGSk_ {
  position: relative;
  display: block;
}
.main-page_hero__slider__slide__popup__arrow__wGSk_::before {
  position: absolute;
  top: -20px;
  left: 196px;
  content: "";
  width: 14px;
  height: 8px;
  background-image: url(/img/popup-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 1460px) {
  .main-page_hero__slider__slide__popup__arrow__wGSk_::before {
    left: 194px;
  }
}
@media (max-width: 990px) {
  .main-page_hero__slider__slide__popup__arrow__wGSk_::before {
    left: 191px;
  }
}
@media (max-width: 760px) {
  .main-page_hero__slider__slide__popup__arrow__wGSk_::before {
    top: auto;
    bottom: -20px;
    transform: rotate(180deg);
  }
}
.main-page_hero__slider__slide__popup__img__P60FS {
  width: 72px;
  height: 72px;
  margin-right: 8px;
}
.main-page_hero__slider__slide__popup__inner__FWFXI {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: self-start;
}
.main-page_hero__slider__slide__popup__title__AcOpA {
  min-width: 142px;
  margin-bottom: 6px;
  color: #E8E9EA;
  font-weight: 700;
  line-height: 20px;
}
@media (max-width: 760px) {
  .main-page_hero__slider__slide__popup__title__AcOpA {
    max-width: 142px;
  }
}
.main-page_hero__slider__slide__popup__price__6oURo {
  color: #16D9A6;
}
.main-page_hero__title__cx7x7 {
  margin: 0;
  margin-bottom: 15px;
  position: relative;
}
.main-page_hero__title__subtitle__bl_si {
  position: absolute;
  top: 40px;
  left: 187px;
  color: #E8E9EA;
  font-size: 22px;
  font-weight: 400;
}
@media (max-width: 1170px) {
  .main-page_hero__title__subtitle__bl_si {
    top: 30px;
    left: 115px;
  }
}
@media (max-width: 940px) {
  .main-page_hero__title__subtitle__bl_si {
    font-size: 18px;
    top: 20px;
    left: 85px;
  }
}
@media (max-width: 715px) {
  .main-page_hero__title__subtitle__bl_si {
    font-size: 16px;
    top: 7px;
    left: 56px;
  }
}
@media (max-width: 490px) {
  .main-page_hero__title__subtitle__bl_si {
    top: -3px;
    left: 64px;
  }
}
.main-page_hero__title__subtitle_lang__858rB {
  left: 125px;
  top: 25px;
}
@media (max-width: 1170px) {
  .main-page_hero__title__subtitle_lang__858rB {
    top: 15px;
    left: 95px;
  }
}
@media (max-width: 940px) {
  .main-page_hero__title__subtitle_lang__858rB {
    top: 10px;
    left: 65px;
  }
}
@media (max-width: 715px) {
  .main-page_hero__title__subtitle_lang__858rB {
    top: -3px;
    left: 43px;
  }
}
@media (max-width: 490px) {
  .main-page_hero__title__subtitle_lang__858rB {
    top: -9px;
  }
}
.main-page_hero__title__text__vIYWE {
  color: #E8E9EA;
  font-size: 260px;
  font-weight: 700;
}
@media (max-width: 1540px) {
  .main-page_hero__title__text__vIYWE {
    font-size: 200px;
  }
}
@media (max-width: 1170px) {
  .main-page_hero__title__text__vIYWE {
    font-size: 160px;
  }
}
@media (max-width: 940px) {
  .main-page_hero__title__text__vIYWE {
    font-size: 120px;
  }
}
@media (max-width: 715px) {
  .main-page_hero__title__text__vIYWE {
    font-size: 76px;
  }
}
@media (max-width: 475px) {
  .main-page_hero__title__text__vIYWE {
    font-size: 62px;
  }
}
@media (max-width: 380px) {
  .main-page_hero__title__text__vIYWE {
    font-size: 52px;
  }
}

.main-page_categories__22Pz4 {
  padding-top: 80px;
  padding-bottom: 30px;
}
@media (max-width: 800px) {
  .main-page_categories__22Pz4 {
    padding: 40px 0;
  }
}
@media (max-width: 490px) {
  .main-page_categories__22Pz4 {
    padding: 20px 0;
  }
}
@media (max-width: 800px) {
  .main-page_categories__title__O0hfG {
    margin-bottom: 32px !important;
    font-size: 36px !important;
  }
}
@media (max-width: 490px) {
  .main-page_categories__title__O0hfG {
    margin-bottom: 15px !important;
    font-size: 32px !important;
  }
}
.main-page_categories__inner__oPUlB {
  position: relative;
  display: flex;
  align-items: stretch;
}
@media (max-width: 680px) {
  .main-page_categories__inner__oPUlB {
    flex-direction: column;
  }
}
.main-page_categories__right__mZFsQ {
  margin-right: 32px;
  transition: background-color 0.2s ease-in-out;
}
@media (max-width: 1100px) {
  .main-page_categories__right__mZFsQ {
    margin-right: 16px;
  }
}
@media (max-width: 680px) {
  .main-page_categories__right__mZFsQ {
    margin-right: 0;
    margin-bottom: 16px;
  }
}
@media (max-width: 490px) {
  .main-page_categories__right__mZFsQ {
    display: none;
  }
}
@media (max-width: 490px) {
  .main-page_categories__left__KBl3m {
    display: none;
  }
}
.main-page_categories__left__top__uVhGD {
  display: flex;
  align-items: flex-start;
  margin-bottom: 32px;
}
@media (max-width: 1100px) {
  .main-page_categories__left__top__uVhGD {
    margin-bottom: 16px;
  }
}
.main-page_categories__left__top__right__cRqck {
  margin-right: 32px;
}
@media (max-width: 1100px) {
  .main-page_categories__left__top__right__cRqck {
    margin-right: 16px;
  }
}
.main-page_categories__img__2IDBz {
  display: block;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: border-radius 0.2s ease-in-out;
}
@media (max-width: 800px) {
  .main-page_categories__img__2IDBz {
    border-radius: 26px 0 0 0;
  }
}
.main-page_categories__img__2IDBz img {
  max-width: 100%;
  height: 100%;
}
.main-page_categories__img__2IDBz::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
  transition: background-color 0.2s ease-in-out;
}
@media (max-width: 800px) {
  .main-page_categories__img__2IDBz::before {
    background: linear-gradient(180deg, rgba(16, 24, 40, 0) 41.43%, rgba(16, 24, 40, 0.8) 109.57%);
  }
}
.main-page_categories__img__2IDBz:hover::before {
  transition: background-color 0.2s ease-in-out;
  background-color: rgba(16, 24, 40, 0.55);
}
@media (max-width: 800px) {
  .main-page_categories__img__2IDBz:hover::before {
    background: transparent;
  }
}
.main-page_categories__img__2IDBz:hover {
  border-radius: 26px 0 0 0;
  transition: border-radius 0.2s ease-in-out;
}
.main-page_categories__img__2IDBz span {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  color: #E8E9EA;
  font-size: 22px;
  font-weight: 400;
  border-radius: 26px 0px 26px 0px;
  padding: 16px 32px;
  background-color: #565C66;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2), 0px 0px 8px 0px rgba(0, 0, 0, 0.1);
  transition: opacity 0.2s ease-in-out;
}
@media (max-width: 800px) {
  .main-page_categories__img__2IDBz span {
    padding: 8px 24px;
    font-size: 16px;
    opacity: 1;
  }
}
.main-page_categories__img__2IDBz:hover span {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.main-page_categories__slider__ks2AN {
  display: block;
}
.main-page_categories__slide__LwFLn img {
  height: 357px;
}
@media (max-width: 420px) {
  .main-page_categories__slide__LwFLn img {
    width: 100%;
    height: 290px;
  }
}

.main-page_main_section__Kmi19 {
  min-height: 500px;
  overflow: hidden;
  padding-top: 42px;
  padding-bottom: 30px;
}
@media (max-width: 800px) {
  .main-page_main_section__Kmi19 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.main-page_main_section__container__uHysE {
  position: relative;
}
@media (max-width: 800px) {
  .main-page_main_section__title__d4iDX {
    margin-bottom: 32px !important;
    font-size: 36px !important;
  }
}
@media (max-width: 490px) {
  .main-page_main_section__title__d4iDX {
    margin-bottom: 15px !important;
    font-size: 32px !important;
  }
}
.main-page_main_section__inner__2fEFq {
  position: relative;
  display: flex;
}
.main-page_main_section__bg__tlI2A {
  position: absolute;
  top: -95px;
  z-index: -1;
  left: 0;
  color: #242C39;
  font-size: 376px;
  font-weight: 700;
}
@media (max-width: 1520px) {
  .main-page_main_section__bg__tlI2A {
    font-size: 320px;
  }
}
@media (max-width: 1300px) {
  .main-page_main_section__bg__tlI2A {
    font-size: 280px;
  }
}
@media (max-width: 1150px) {
  .main-page_main_section__bg__tlI2A {
    font-size: 220px;
    top: -85px;
  }
}
@media (max-width: 910px) {
  .main-page_main_section__bg__tlI2A {
    font-size: 160px;
    top: -60px;
  }
}
@media (max-width: 800px) {
  .main-page_main_section__bg__tlI2A {
    display: none;
  }
}
.main-page_main_section__list__1z5fc {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 32px;
  width: 100%;
}
@media (max-width: 1150px) {
  .main-page_main_section__list__1z5fc {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .main-page_main_section__list__1z5fc {
    grid-gap: 24px;
  }
}
@media (max-width: 620px) {
  .main-page_main_section__list__1z5fc {
    grid-gap: 18px;
  }
}
@media (max-width: 460px) {
  .main-page_main_section__list__1z5fc {
    grid-template-columns: 1fr;
  }
}

.main-page_brands__TS_gu {
  padding-top: 32px;
  padding-bottom: 120px;
}
@media (max-width: 800px) {
  .main-page_brands__title__C1eVe {
    margin-bottom: 32px;
    font-size: 32px;
  }
}
@media (max-width: 490px) {
  .main-page_brands__title__C1eVe {
    margin-bottom: 20px;
    font-size: 20px;
  }
}
.main-page_brands__inner__16sOd {
  position: relative;
}
@media (max-width: 490px) {
  .main-page_brands__inner__16sOd .main-page_all__4hTBd {
    top: -45px;
  }
}
.main-page_brands__list__5qyJH {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 32px;
  width: 100%;
}
@media (max-width: 1150px) {
  .main-page_brands__list__5qyJH {
    grid-column-gap: 24px;
  }
}
@media (max-width: 990px) {
  .main-page_brands__list__5qyJH {
    grid-gap: 18px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 370px 370px;
  }
}
@media (max-width: 800px) {
  .main-page_brands__list__5qyJH {
    grid-gap: 18px;
    grid-template-rows: 290px 290px;
  }
}
@media (max-width: 590px) {
  .main-page_brands__list__5qyJH {
    grid-gap: 18px;
    grid-template-rows: 250px 290px;
  }
}
.main-page_brands__list__item__091IF {
  position: relative;
}
@media (max-width: 990px) {
  .main-page_brands__list__item__091IF:first-child {
    grid-column: 1/7;
  }
}
@media (max-width: 590px) {
  .main-page_brands__list__item__091IF:first-child img {
    height: 250px;
  }
}
@media (max-width: 990px) {
  .main-page_brands__list__item__091IF:nth-child(2) {
    grid-column: 7/13;
  }
}
@media (max-width: 590px) {
  .main-page_brands__list__item__091IF:nth-child(2) img {
    height: 250px;
  }
}
@media (max-width: 990px) {
  .main-page_brands__list__item__091IF:last-child {
    grid-column: 4/10;
  }
}
@media (max-width: 590px) {
  .main-page_brands__list__item__091IF:last-child {
    grid-column: 1/13;
  }
  .main-page_brands__list__item__091IF:last-child img {
    height: 370px;
  }
}
.main-page_brands__list__item__091IF img {
  width: 100%;
  height: 480px;
}
@media (max-width: 1340px) {
  .main-page_brands__list__item__091IF img {
    height: 400px;
  }
}
@media (max-width: 1150px) {
  .main-page_brands__list__item__091IF img {
    height: 350px;
  }
}
@media (max-width: 990px) {
  .main-page_brands__list__item__091IF img {
    height: 370px;
  }
}
@media (max-width: 800px) {
  .main-page_brands__list__item__091IF img {
    height: 290px;
  }
}

.main-page_img_loading__ufFh_ {
  background-color: #2a323f;
  pointer-events: none;
}

.main-page_all__4hTBd {
  position: absolute;
  right: 0;
  top: -65px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding-right: 25px;
  transition: color 0.2s ease-in-out;
}
@media (max-width: 490px) {
  .main-page_all__4hTBd {
    top: -42px;
  }
}
.main-page_all__4hTBd span {
  position: relative;
}
.main-page_all__4hTBd span::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -55px;
  width: 24px;
  height: 24px;
  background-color: #E8E9EA;
  -webkit-mask: url(/img/simple-arrow.svg) no-repeat 50% 50%;
  mask: url(/img/simple-arrow.svg) no-repeat 50% 50%;
  transition: background-color 0.2s ease-in-out;
}
.main-page_all__4hTBd:hover span::before {
  transition: background-color 0.2s ease-in-out;
  background-color: #9466FF;
}
.main-page_all__4hTBd:hover {
  color: #9466FF;
  transition: color 0.2s ease-in-out;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/swiper/swiper.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
/**
 * Swiper 11.0.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2024 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: February 27, 2024
 */

/* FONT_START */
@font-face {
  font-family: 'swiper-icons';
  src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA');
  font-weight: 400;
  font-style: normal;
}
/* FONT_END */
:root {
  --swiper-theme-color: #007aff;
  /*
  --swiper-preloader-color: var(--swiper-theme-color);
  --swiper-wrapper-transition-timing-function: initial;
  */
}
:host {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  display: block;
}
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
  box-sizing: content-box;
}
.swiper-android .swiper-slide,
.swiper-ios .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}
.swiper-horizontal {
  touch-action: pan-y;
}
.swiper-vertical {
  touch-action: pan-x;
}
.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
  display: block;
}
.swiper-slide-invisible-blank {
  visibility: hidden;
}
/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}
.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
/* 3D Effects */
.swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}
.swiper-3d {
  perspective: 1200px;
}
.swiper-3d .swiper-slide,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}
.swiper-css-mode.swiper-horizontal > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}
.swiper-css-mode.swiper-vertical > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper {
  scroll-snap-type: none;
}
.swiper-css-mode.swiper-free-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: none;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper::before {
  content: '';
  flex-shrink: 0;
  order: 9999;
}
.swiper-css-mode.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
  scroll-snap-stop: always;
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-css-mode.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}
/* Slide styles start */
/* 3D Shadows */
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  transform-origin: 50%;
  box-sizing: border-box;
  border: 4px solid var(--swiper-preloader-color, var(--swiper-theme-color));
  border-radius: 50%;
  border-top-color: transparent;
}
.swiper:not(.swiper-watch-progress) .swiper-lazy-preloader,
.swiper-watch-progress .swiper-slide-visible .swiper-lazy-preloader {
  animation: swiper-preloader-spin 1s infinite linear;
}
.swiper-lazy-preloader-white {
  --swiper-preloader-color: #fff;
}
.swiper-lazy-preloader-black {
  --swiper-preloader-color: #000;
}
@keyframes swiper-preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Slide styles end */

/*!**********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./node_modules/swiper/modules/effect-coverflow.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************/

/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/productSubtitle/index.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productSubtitle_product_subtitle__subtitle__2XwYS {
  position: relative;
  display: inline-block;
}
@media (max-width: 715px) {
  .productSubtitle_product_subtitle__subtitle__2XwYS {
    margin-bottom: 25px;
  }
}
@media (max-width: 490px) {
  .productSubtitle_product_subtitle__subtitle__2XwYS {
    margin-bottom: 45px;
  }
}
@media (max-width: 380px) {
  .productSubtitle_product_subtitle__subtitle__2XwYS {
    margin-bottom: 30px;
  }
}
.productSubtitle_product_subtitle__subtitle__rect__R6_V6 {
  position: absolute;
  bottom: -27px;
  right: 0;
  width: 45px;
  height: 27px;
  background-image: url("/img/subtitle-rect.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.productSubtitle_product_subtitle__subtitle__2XwYS span {
  display: inline-block;
  background-color: #E8E9EA;
  color: #2A323F;
  font-size: 60px;
  font-weight: 700;
  line-height: 62px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 0px 3.861px 0px 0px;
}
@media (max-width: 940px) {
  .productSubtitle_product_subtitle__subtitle__2XwYS span {
    font-size: 48px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 52px;
  }
}
@media (max-width: 475px) {
  .productSubtitle_product_subtitle__subtitle__2XwYS span {
    font-size: 42px;
  }
}
@media (max-width: 380px) {
  .productSubtitle_product_subtitle__subtitle__2XwYS span {
    line-height: 32px;
    font-size: 32px;
  }
}
.productSubtitle_product_subtitle__subtitle__2XwYS span:first-child {
  padding-top: 4px;
}
@media (max-width: 940px) {
  .productSubtitle_product_subtitle__subtitle__2XwYS span:first-child {
    padding-top: 0;
  }
}
.productSubtitle_product_subtitle__subtitle__2XwYS span:last-child {
  padding-bottom: 8px;
}
@media (max-width: 940px) {
  .productSubtitle_product_subtitle__subtitle__2XwYS span:last-child {
    padding-bottom: 0;
  }
}
/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/ad/index.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ad_ad__mzsHj {
  position: absolute;
  top: -80px;
  right: 15px;
  padding: 2px 4px;
  padding-right: 27px;
  height: 28px;
  line-height: 24px;
  background-image: url("/img/info-icon.svg");
  background-repeat: no-repeat;
  background-position: right 2px center;
  color: #A5A8AD;
  font-size: 14px;
  font-weight: 500;
  border-radius: 30px;
  background-color: rgba(16, 24, 40, 0.4);
}
@media (max-width: 760px) {
  .ad_ad__mzsHj {
    top: -20px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/product-list-item/index.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.product-list-item_list__item__FrJc_ {
  min-height: 453px;
  position: relative;
  padding: 16px;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 800px) {
  .product-list-item_list__item__FrJc_ {
    background-color: #2A323F;
    box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2), 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 590px) {
  .product-list-item_list__item__FrJc_ {
    padding-bottom: 75px;
    min-height: 490px;
  }
}
.product-list-item_list__item__label__PeZp5 {
  position: absolute;
  top: 16px;
  left: 16px;
  color: #FFF;
  font-size: 14px;
  font-weight: 500;
  padding: 0 8px;
}
.product-list-item_list__item__new__myyPY {
  background-color: #FF5E2D;
}
.product-list-item_list__item__bestseller__2baxa {
  background-color: #16D9A6;
}
.product-list-item_list__item__actions___XbzG {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  flex-direction: column;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
@media (max-width: 800px) {
  .product-list-item_list__item__actions___XbzG {
    opacity: 1;
    visibility: visible;
  }
}
.product-list-item_list__item__img__4AF2i {
  margin: auto;
  display: block;
}
.product-list-item_list__item__img__4AF2i img {
  max-height: 332px;
  max-width: 352px;
  margin: 0 auto;
  background: radial-gradient(52.53% 52.53% at 50% 47.47%, #333A47 0%, rgba(29, 37, 51, 0) 100%);
  transition: background 0.2s ease-in-out;
  object-fit: contain;
}
.product-list-item_list__item__inner__oONat {
  align-self: flex-start;
}
.product-list-item_list__item__title__ZPs2O {
  margin: 0;
  margin-bottom: 4px;
}
.product-list-item_list__item__title__ZPs2O a {
  color: #A5A8AD;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
}
.product-list-item_list__item__price__xzmju {
  color: #E8E9EA;
  font-size: 24px;
  font-weight: 500;
}
.product-list-item_list__item__cart__VOA6t {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 32px;
  background-color: #9466FF;
  padding: 12px 24px !important;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
@media (max-width: 800px) {
  .product-list-item_list__item__cart__VOA6t {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 590px) {
  .product-list-item_list__item__cart__VOA6t {
    left: 16px;
  }
}
.product-list-item_list__item__cart__VOA6t:hover {
  background-color: #70F;
  transition: background-color 0.2s ease-in-out;
}
.product-list-item_list__item__cart_added__eM1CX {
  opacity: 1;
  visibility: visible;
  background-color: #16D9A6 !important;
  pointer-events: none !important;
  cursor: none !important;
}
.product-list-item_list__item__cart_added__eM1CX:hover {
  background-color: #16D9A6;
}
.product-list-item_list__item__cart__VOA6t:disabled {
  opacity: 0.5;
  pointer-events: none;
}
.product-list-item_list__item__FrJc_:hover {
  background-color: #2A323F;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2), 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.product-list-item_list__item__FrJc_:hover .product-list-item_list__item__actions___XbzG, .product-list-item_list__item__FrJc_:hover .product-list-item_list__item__cart__VOA6t {
  opacity: 1;
  visibility: visible;
  transition: background-color 0.2s ease-in-out, opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
.product-list-item_list__item__FrJc_:hover .product-list-item_list__item__img__4AF2i img {
  transition: background 0.2s ease-in-out;
  background: radial-gradient(52.53% 52.53% at 50% 47.47%, #4E5D77 0%, rgba(42, 50, 63, 0) 100%);
}
.product-list-item_list__item_ad__TMf2T {
  min-height: 453px;
  position: relative;
  padding: 16px;
  transition: box-shadow 0.2s ease-in-out;
  display: block;
  background: radial-gradient(112.11% 111.8% at 100% 0%, #4075FF 0%, rgba(64, 117, 255, 0) 100%), radial-gradient(111.72% 111.46% at 27% 0%, #16D9A6 0%, rgba(22, 217, 166, 0) 100%), #9466FF;
}
.product-list-item_list__item_ad__inner__Z_ugU {
  text-decoration: none;
}
.product-list-item_list__item_ad__ad__yKRtq {
  top: 16px !important;
  right: 16px !important;
}
@media (max-width: 590px) {
  .product-list-item_list__item_ad__ad__yKRtq {
    height: 24px !important;
    line-height: 22px !important;
  }
}
.product-list-item_list__item_ad__subtitle__kX2Vo {
  width: max-content;
  margin-bottom: 20px;
}
.product-list-item_list__item_ad__subtitle__top__oDCsB {
  padding-top: 5px;
}
@media (max-width: 590px) {
  .product-list-item_list__item_ad__subtitle__top__oDCsB {
    padding-top: 2px;
  }
}
.product-list-item_list__item_ad__subtitle__kX2Vo span {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 36px;
  line-height: 36px;
}
@media (max-width: 590px) {
  .product-list-item_list__item_ad__subtitle__kX2Vo span {
    font-size: 26px;
    line-height: 26px;
  }
}
.product-list-item_list__item_ad__subtitle__rect__qDyv2 {
  bottom: -15px;
  width: 25px;
  height: 15px;
  background-size: 25px 15px;
}
.product-list-item_list__item_ad__img___K4YQ {
  width: 224px;
  height: 255px;
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 590px) {
  .product-list-item_list__item_ad__img___K4YQ {
    width: 160px;
    height: 196px;
  }
}
@media (max-width: 590px) {
  .product-list-item_list__item_ad__img___K4YQ {
    width: 200px;
    height: 250px;
  }
}
.product-list-item_list__item_ad__img___K4YQ img {
  max-width: 100%;
  max-height: 100%;
}
.product-list-item_list__item_ad__title__MJYuD {
  margin: 0;
  margin-top: auto;
  color: #E8E9EA;
  font-size: 18px;
  font-weight: 700;
}
@media (max-width: 590px) {
  .product-list-item_list__item_ad__title__MJYuD {
    position: absolute;
    bottom: 16px;
    left: 16px;
  }
}
.product-list-item_list__item_ad__title__MJYuD span {
  display: block;
}
.product-list-item_list__item_ad__title__MJYuD span:first-child {
  margin-bottom: 15px;
}
@media (max-width: 590px) {
  .product-list-item_list__item_ad__title__MJYuD span:first-child {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.product-list-item_list__item_ad__title__MJYuD span:last-child {
  font-size: 56px;
  line-height: 45px;
}
@media (max-width: 590px) {
  .product-list-item_list__item_ad__title__MJYuD span:last-child {
    font-size: 46px;
  }
}
.product-list-item_list__item_ad__TMf2T:hover {
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2), 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in-out;
}

.product-list-item_product__x1HA_ {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 590px) {
  .product-list-item_product__x1HA_ {
    margin-bottom: 16px;
  }
}
.product-list-item_product__stock__m3srt {
  margin-right: 16px;
  padding-left: 8px;
  font-size: 12px;
  background-repeat: no-repeat;
  background-position: left center;
}
.product-list-item_product__stock__green__LsqeR {
  color: #26DA72;
  background-image: url("/img/green-ellipse.svg");
}
.product-list-item_product__stock__red__Sf9Z1 {
  color: #FF4747;
  background-image: url("/img/red-ellipse.svg");
}
.product-list-item_product__code__QddHA {
  color: #A5A8AD;
  font-size: 12px;
}
.product-list-item_product__color__GjkKN, .product-list-item_product__composition__kRHq3 {
  display: block;
  margin-bottom: 24px;
  color: #E8E9EA;
  font-size: 14px;
}
.product-list-item_product__size_title__V84A2 {
  color: #E8E9EA;
  font-size: 14px;
  margin-bottom: 12px;
}
.product-list-item_product__count_title__pwS3G {
  display: block;
  margin-bottom: 12px;
  color: #E8E9EA;
  font-size: 14px;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/tooltip/index.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tooltip_tooltip__oZ8lV {
  position: absolute;
  top: -6px;
  width: max-content;
  padding: 10px 12px;
  border-radius: 12px;
  background-color: #3D4555;
  z-index: 10;
}
.tooltip_tooltip__inner__FMCDN {
  position: relative;
}
.tooltip_tooltip__inner__FMCDN::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -30px;
  transform: rotate(90deg);
  height: 8px;
  width: 30px;
  background-image: url(/img/popup-arrow.svg);
  background-repeat: no-repeat;
  background-position: center center;
}
.tooltip_tooltip__text__lzOgO {
  color: rgba(255, 255, 255, 0.9);
  font-size: 14px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/product-item-action-btn/index.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.product-item-action-btn_actions__746hB {
  position: relative;
}
.product-item-action-btn_actions__btn__npTWM {
  z-index: 2;
  position: relative;
  width: 32px;
  height: 32px;
  border-radius: 24px;
  background-color: #1D2533;
}
.product-item-action-btn_actions__btn__npTWM:not(:last-child) {
  margin-bottom: 16px;
}
.product-item-action-btn_actions__btn__npTWM::before {
  background-color: #E8E9EA;
  content: "";
  height: 100%;
  width: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color 0.2s ease-in-out;
}
.product-item-action-btn_actions__btn_favorite__6xlxF::before {
  -webkit-mask: url(/img/favorites.svg) no-repeat 50% 50%;
  mask: url(/img/favorites.svg) no-repeat 50% 50%;
}
.product-item-action-btn_actions__btn_comparison__ZbDYd::before {
  -webkit-mask: url(/img/comparison.svg) no-repeat 50% 50%;
  mask: url(/img/comparison.svg) no-repeat 50% 50%;
}
.product-item-action-btn_actions__btn_quick_view__fpbnG::before {
  -webkit-mask: url(/img/quick-view.svg) no-repeat 50% 50%;
  mask: url(/img/quick-view.svg) no-repeat 50% 50%;
}
.product-item-action-btn_actions__btn__npTWM:hover::before {
  transition: background-color 0.2s ease-in-out;
  background-color: #16D9A6;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./styles/skeleton/index.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.skeleton_skeleton__FCqnn {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 32px;
}
@media (max-width: 1150px) {
  .skeleton_skeleton__FCqnn {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 800px) {
  .skeleton_skeleton__FCqnn {
    grid-gap: 24px;
  }
}
@media (max-width: 620px) {
  .skeleton_skeleton__FCqnn {
    grid-gap: 18px;
  }
}
@media (max-width: 460px) {
  .skeleton_skeleton__FCqnn {
    grid-template-columns: 1fr;
  }
}

.skeleton_skeleton__item__RiU_q {
  background-color: #2A323F;
  overflow: hidden !important;
  padding: 0;
  height: 485px;
  border-radius: 4px;
}
@media (max-width: 800px) {
  .skeleton_skeleton__item__RiU_q {
    height: 450px;
  }
}
@media (max-width: 460px) {
  .skeleton_skeleton__item__RiU_q {
    height: 350px;
  }
}

.skeleton_skeleton__item__light__FiFO7 {
  height: 100%;
  animation-duration: 1.6s;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.0470588235) 34.78%, rgba(255, 255, 255, 0.06) 60.33%, rgba(255, 255, 255, 0.0470588235) 84.84%);
  animation-name: skeleton_skeleton__FCqnn;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes skeleton_skeleton__FCqnn {
  0% {
    transform: translateX(-600px);
  }
  100% {
    transform: translateX(700px);
  }
}
